@charset "utf-8";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@mixin fontsize($size: 24) {
  font-size: $size + px;
  font-size: ($size / 10) * 1rem;
}

body {
  font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: .1em;
  color: #000;
  margin: 0;
}

@media (min-width: 550px) {
  .container {
    padding: 50px 40px;
  }
}

@media (max-width: 549px) {
  .container {
    padding: 25px 20px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

header {

  .logo {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 10;
    cursor: pointer;
    margin: 0;
    @include fontsize(14)
  }
  .logo_title {
    position: fixed;
    color: #000;
  }
  a:hover {
    color: #8F77B5;
  }
  .text-small:after {
    content: "\A";
    white-space: pre;
    /* ←あわせてこれを指定しないと改行しない場合がある */
  }

  .pc_navi {
    display: flex;
    position: fixed;
    top: 30px;
    right: 50px;
    z-index: 10;
    li {
      @include fontsize(14)
    }
    a {
      color: #000;
      margin-left: 50px;
      &:hover {
        color: #8F77B5;
        border-bottom: 1px solid #8F77B5;
      }
    }
  }

  @media (max-width: 549px) {
    .pc_navi {
      display: none;
    }
  }

}

@media (min-width: 550px) {
  .sp_navi {
    display: none;
  }
}



//humberger menuのはじまり------------------------------------------------------
/*3本線の表示*/

header .humberger-wrap {
  display: block;
}

/*3本線の位置*/

header .humberger-wrap {
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 10;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

/*humberger-border1,2,3の線*/

header .humberger-wrap [class*=humberger-border] {
  position: absolute;
  width: 40px;
  height: 2px;
  transition: .4s all ease;
  transform-origin: center center;
  background: #000;
  /*ハンバーガーメニューの色*/
}

/*1本目の線*/

header .humberger-wrap .humberger-border-1 {
  position: fixed;
  top: 25px;
  right: 25px;
}

/*2本目の線*/

header .humberger-wrap .humberger-border-2 {
  position: fixed;
  top: 35px;
  right: 25px;
}

/*3本目の線*/

header .humberger-wrap .humberger-border-3 {
  position: fixed;
  top: 45px;
  right: 25px;
}

/*開閉ボタンopen時の横線1本目*/

header .humberger-wrap.opened .humberger-border-1 {
  top: 35px;
  transform: rotate(45deg);
}

/*開閉ボタンopen時の横線2本目*/

header .humberger-wrap.opened .humberger-border-2 {
  top: 35px;
  transform: rotate(-45deg);
}

/*開閉ボタンopen時の横線3本目*/

header .humberger-wrap.opened .humberger-border-3 {
  top: 35px;
  transform: rotate(-45deg);
  opacity: 0;
}

/*メニューを非表示*/

header nav {
  display: none;
}

/*open時に一番上のヘッダーの背景色を変化*/

header.opened {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(155, 144, 194, 0.9);
}

header.opened nav {
  display: block;
  min-height: 100vh;
  opacity: 1;
  top: 20px;
}

header nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 150px;
}

header nav ul.header-navigation {
  flex-flow: column nowrap;
}



header nav ul.header-navigation li a {
  line-height: 3;
  display: block;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  @include fontsize(20)
}

//humberger menuのおわり--------------------------------------------------------
#top {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  img {
    margin-top: 200px;
    width: 300px;
    height: 300px;
    animation:10s linear infinite rotation1;
  }
  @keyframes rotation1{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
  }
  h2 {
    margin-top: 5%;
    margin-bottom: 10%;
    font-weight: lighter;
    @include fontsize(24)
  }
}

@media (max-width: 549px) {
  #top {
    height: 100vh;
    img {
      margin-top: 40%;
    }
    h2 {
      margin-top: 10%;
    }
  }
}

#about {
  text-align: center;
  background-color: #F5F5F5;
  h2 {
    margin: 0;
    padding-bottom: 50px;
    font-weight: lighter;
    @include fontsize(48)
  }
  .about_box {
    display: flex;
    justify-content: space-between;
    .about_inner_01 {
      width: 48%;
      .profile_icon {
        border-radius: 50%;
        object-fit: cover;
        vertical-align: bottom;
      }
      .about_skills {
        padding: 10%;
        .skills_title {
          @include fontsize(18)
        }
        p {
          line-height: 2;
          @include fontsize(14)
        }
        table {
          text-align: left;
          border-collapse:collapse;
          tr {
            border-bottom: 4px solid #FFF;
            td {
              padding: 10px;
            }
            a {
              color: #000;
              &:hover {
                color: #8F77B5;
              }
            }
          }
        }
      }
    }
    .about_inner_02 {
      text-align: left;
      width: 50%;
      border: 4px #fff solid;
      border-radius: 5px;
      p {
        margin: 0;
        padding: 10%;
        line-height: 2;
        @include fontsize(14)
      }
    }
  }

  @media (max-width: 549px) {
    h2 {
      padding-bottom: 25px;
      @include fontsize(40)
    }
    .about_box {
      display: flex;
      flex-wrap: wrap;
      .about_inner_01 {
        width: 100%;
      }
      .about_inner_02 {
        width: 100%;
      }
    }
  }

}

#portfolio {
  text-align: center;
  background-color: #fff;
  h2 {
    margin: 0;
    padding-bottom: 50px;
    font-weight: lighter;
    @include fontsize(48)
  }
  .portfolio_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .portfolio_box_inner {
      width: 32%;
      margin-bottom: 2%;
      position: relative;
      a {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        &:hover {
          .img_text {
            display: block;
          }
        }
      }
      img {
        vertical-align: bottom;
        width: 100%;
        height: auto;
      }
      .img_text {
        display: none;
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.8);
        p {
          margin: 0;
          padding-top: 40%;
          color: #000;
          @include fontsize(14)
        }
      }
      .sp {
        display: none;
      }
    }
  }

  @media (max-width: 549px) {
    h2 {
      padding-bottom: 25px;
      @include fontsize(40)
    }
    .portfolio_box {
      display: flex;
      flex-wrap: wrap;
      .portfolio_box_inner {
        width: 100%;
        margin-bottom: 30px;
        .sp {
          display: block;
          margin-top: 10px;
          color: #000;
          border: 1px solid #000;
          border-radius: 4px;
          padding: 10px;
          background-color: rgba(143, 119, 181, 0.5);
          border: 1px #8F77B5 solid;
        }
      }
      .sp_bottom {
        margin-bottom: 15px;
      }
    }
  }

}

#contact {
  text-align: center;
  background-color: #F5F5F5;
  h2 {
    margin: 0;
    padding-bottom: 50px;
    font-weight: lighter;
    @include fontsize(48)
  }
  p {
    margin: 0 0 14px 0;
    @include fontsize(18)
  }
  /*フォーム*/
  form {
    margin-top: 30px;
    input[type="text"],
    input[type="email"],
    input[type="text"],
    textarea {
      margin-bottom: 14px;
      border: 1px #8F77B5 solid;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;
      width: 100%;
      max-width: 320px;
    }
    textarea {
      height: 10rem;
    }
    #message {
      margin-bottom: 0;
    }
    .button {
      background-color: rgba(143, 119, 181, 0.5);
      border: 1px #8F77B5 solid;
      border-radius: 5px;
      padding: 10px 30px;
      margin-top: 30px;
      margin-bottom: 30px;
      cursor: pointer;
      &:hover {
        background-color: #fff;
      }
    }
  }
}

/*thanksページ*/
#contact {
  .thanks {
    margin-top: 80px;
  }
  .thanks_content {
    line-height: 2;
  }
  .br_sp {
    display: none;
  }
  .btn_home {
    color: #000;
    background-color: rgba(143, 119, 181, 0.5);
    border: 1px #8F77B5 solid;
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    max-width: 100px;
    &:hover {
      background-color: #fff;
    }
  }
}

@media (max-width: 549px) {
  #contact {
    .br_sp {
      display: block;
    }
    .thanks_content {
      line-height: 2;
    }
  }
}

footer {
  text-align: center;
  background-color: #d3d3d3;
  p {
    color: #fff;
    margin: 0;
    padding: 30px 0;
    @include fontsize(14)
  }
}

//------------------------------------------------------------------------------
#portfolio_page_in {
  padding: 0 100px;
  h2 {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: lighter;
    @include fontsize(40)
  }
  h3 {
    margin: 0;
    padding-bottom: 25px;
    text-align: center;
    font-weight: lighter;
    @include fontsize(24)
  }
  .url_title {
    margin: 0;
    padding-bottom: 25px;
    text-align: center;
    color: #000;
    font-weight: lighter;
    @include fontsize(14)
  }
  .url_link {
    color: #000;
  }
  .url_link:hover {
    color: #8F77B5;
    border-bottom: 1px solid #8F77B5;
  }
  img {
    width: 100%;
    padding-bottom: 10px;
    height: auto;
    vertical-align: bottom;
  }
  table {
    margin-top: 100px;
    th {
      font-weight: lighter;
      width: 20%;
      display: table-cell;
      /* IE8から使用可能 */
      vertical-align: top;
      text-align: left;
      padding-bottom: 30px;
      @include fontsize(14)
    }
    td {
      font-weight: lighter;
      width: 80%;
      padding-bottom: 30px;
      @include fontsize(14)
    }
  }

  @media (min-width: 550px) {
    .btn_box {
      display: flex;
      flex-wrap: wrap;
      .sp_btn {
        text-align: center;
        padding: 10px 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        color: #000;
        font-weight: lighter;
        background-color: rgba(143, 119, 181, 0.5);
        border: 1px #8F77B5 solid;
        border-radius: 4px;
        @include fontsize(14)
      }
      .sp_btn:hover {
        color: #000;
        background: #fff;
      }

    }
  }

}

@media (max-width: 549px) {
  #portfolio_page_in {
    padding: 0;
    h2 {
      margin: 0;
      padding-top: 75px;
      padding-bottom: 25px;
    }
    h3 {
      margin: 0;
      padding-bottom: 25px;
    }
    .url_title {
      margin: 0;
      padding-bottom: 25px;
    }
    table {
      margin-top: 50px;
      th {
        font-weight: lighter;
        width: 30%;
        text-align: left;
        padding-bottom: 20px;
        @include fontsize(12)
      }
      td {
        font-weight: lighter;
        width: 70%;
        padding-bottom: 20px;
        @include fontsize(12)
      }
      .sp_border {
        border: 1px solid #000;
      }
    }

    .sp_btn {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
      padding: 10px 20px;
      color: #000;
      text-align: center;
      font-weight: lighter;
      box-sizing: border-box;
      display: inline-block;
      border: 1px solid #000;
      border-radius: 4px;
      color: #000;
      background-color: rgba(143, 119, 181, 0.5);
      border: 1px #8F77B5 solid;
      @include fontsize(14)
    }
    .sp_btn:hover {
      opacity: 0.5;
    }
    .sp_btn_bottom {
      margin: 0;
    }

  }
}

//rgba(254, 234, 76, 0.5)黄色ボタン